@import '../../../../scss/variable';

// reset
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: inherit !important;
}

.container {
  // display: flex;
  clear: both;
  .addBtn{
    float: right;
  }
}

// layout
.task-list-container {
  display: flex;
  flex-wrap: wrap;
}
.list-item-not-done {
  flex: 1 0 48%;
  margin-right: 1%;
}
.list-item-done {
  flex: 1 0 48%;
  margin-left: 1%;
}

.task-navigate {
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.list-item {

  &:nth-of-type(odd) {
    background-color: $gray;
  }
  & + .list-item {
    border-top: 1px solid rgba(0,0,0,0.1);
  }
}

.mat-list-item-content {
    // padding: 0!important;
    justify-content: space-between;
}

// ngClass
.task-slow {
  background-color: rgba(117, 241, 117, 0.29) !important;
}

.task-normal {
  background-color: rgba(255, 215, 64, 0.29) !important;
}

.task-high {
  background-color: rgba(244, 67, 54, 0.29) !important;
}

.task-strikethrough {
  text-decoration: line-through;
  opacity: .5;
}