<section class="task-list">
    <div class="container">
        <h1 class="mat-display-1">
            Task Liste <span class="mat-h1 colorBlack60">({{ countTask }}/ {{ countTask - countTaskDone }})</span>
        </h1>
        <div class="task-list-container">
            <mat-list class="list-item-not-done">
                <ng-container *ngFor="let task of allTasksNotDone$ | async | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <mat-list-item class="list-item"  [ngClass]="{ 
                        'task-slow': task.priority === 'Niedrig',
                        'task-normal': task.priority === 'Normal',
                        'task-high': task.priority === 'Hoch'
                    }">
                        <h3 [ngClass]="{'task-strikethrough': task.done}" matline>{{ task.title }}</h3>
                        count: {{ i }} - id: {{ task.id }}
                        <!-- <p>
                                    <mark>{{ task.id}}</mark>
                                    <mark>{{task.done}}</mark>
                                    <mark>{{task.priority}}</mark>
                                </p> -->
                        <div class="spacer"></div>
                        <div class="task-navigate">
                            <button aria-label="Task löschen" (click)="deleteTask(task)" mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button aria-label="Task bearbeiten" [routerLink]="['/editTask', task.id]" mat-icon-button
                                color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <mat-checkbox [(ngModel)]="task.done" (click)="changeTaskDone(task)" color="primary">
                        </mat-checkbox>
                    </mat-list-item>
                </ng-container>

                <fk-pagination *ngIf="countTask > 10" [allTask]="countTask" [pageSize]="pageSize"></fk-pagination>
            </mat-list>

            <mat-list class="list-item-done">
                <ng-container *ngFor="let task of allTasksDone$ | async">
                    <mat-list-item class="list-item"  [ngClass]="{ 
                                        'task-slow': task.priority === 'Niedrig',
                                        'task-normal': task.priority === 'Normal',
                                        'task-high': task.priority === 'Hoch'
                                    }">
                        <h3 [ngClass]="{'task-strikethrough': task.done}" matline>{{ task.title }}</h3>
                        count: {{ i }} - id: {{ task.id }}
                        <!-- <p>
                                        <mark>{{ task.id}}</mark>
                                        <mark>{{task.done}}</mark>
                                        <mark>{{task.priority}}</mark>
                                    </p> -->
                        <div class="spacer"></div>
                        <div class="task-navigate">
                            <button aria-label="Task löschen" (click)="deleteTask(task)" mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button aria-label="Task bearbeiten" [routerLink]="['/editTask', task.id]" mat-icon-button
                                color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <mat-checkbox [(ngModel)]="task.done" (click)="changeTaskDone(task)" color="primary">
                        </mat-checkbox>
                    </mat-list-item>
                </ng-container>

                <fk-pagination *ngIf="countTaskDone > 10" [allTask]="countTaskDone" [pageSize]="pageSize"></fk-pagination>

            </mat-list>
        </div>

        

        <button class="btn addBtn" routerLink="{{addTaskLink}}" mat-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>


    </div>
</section>
