@import './scss/material';

.colorBlack60 {
   color: rgba(0, 0, 0, 0.6);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// typografy
h1 {
    margin-bottom: 1rem !important;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}