<div class="pagination">
    <button mat-icon-button aria-label="Zurück zur ersten Seite" [routerLink]="['/task', 1]" [disabled]="page === 1">
        <mat-icon>fast_rewind</mat-icon>
    </button>
    <button mat-icon-button aria-label="Eine Seite zurück" [routerLink]="['/task', page - 1]" [disabled]="page === 1">
        <mat-icon>skip_previous</mat-icon>
    </button>
    <button  
        *ngFor="let item of createRange(maxPage); let index = index;" 
        [ngClass]="{activePagination: page == (index + 1)}"
        [routerLink]="['/task', index + 1]"
        mat-flat-button
    >{{item}}</button>
    <button mat-icon-button aria-label="Eine Seite vor" [routerLink]="['/task', page + 1]" [disabled]="page === maxPage">
        <mat-icon>skip_next</mat-icon>
    </button>
    <button mat-icon-button aria-label="Vor zur letzten Seite" [routerLink]="['/task', maxPage]" [disabled]="page === maxPage">
        <mat-icon>fast_forward</mat-icon>
    </button>
</div> 


