.message {
    background-color: rgba(117, 241, 117, 0.29);
    padding: 1rem;
    border-radius: 3px;
    opacity: 0;
    animation: fade 2s;
}

// TODO: Color einstellen nach Material
.error {
    background-color: rgb(244, 67, 54);
}

p:only-child {
    margin: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}